<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/spectre.min.css">
    <link rel="stylesheet" type="text/css" href="/css/spectre-icons.min.css">
  </head>
  <body>
    <a href="/{{location}}">{{location}}</a>
  </body>
</html>