<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/css/spectre.min.css">
    <link rel="stylesheet" type="text/css" href="/css/spectre-icons.min.css">
  </head>
  <body>
    <h1>Error</h1>
    <h5>{{message}}</h5>
    <a href="/">Return Home</a>
  </body>
</html>