<html>
  <head>
    <h1>{{title}}</h1>
  </head>
  <body>
    <form action="/create" method="post">
      URL:
      <input type="text" name="url" value="http://www.google.com/">
      <input type="submit" value="Shorten!">
      <br>
      <p>{{num}} URLs shortened</p>
    </form>
  </body>
</html>