<html>
  <body>
    <form action="/create">
      URL:<br>
      <input type="text" name="url" value="http://www.google.com/"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>